// Widget header
.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget-header {
    background: $off-blue;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    padding: 0 $s-size;
}
.widget__message {
    border-bottom: 1px solid border lighten($light-blue, 10%);
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
}

.widget-header__title {
        margin: 0;
        padding: $s-size;
}
